---
layout: default
title: DCS Resource Hub
---

<table>
  <thead>
    <tr>
      <th>Resource</th>
      <th>Description</th>
      <th>Tags</th>
    </tr>
  </thead>
  <tbody>
    {% for item in site.data.resources.items %}
      <tr>
        <td><a href="{{ item.url }}"><b>{{ item.title }}</b></a></td>
        <td>{{ item.excerpt }}</td>
        <td>
          {% for tag in item.tags %}
            <span>{{ tag }}</span>{% unless forloop.last %}, {% endunless %}
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>